.custom-text {
  color: white !important;
  font-size: '20px';
  font-family: 'poppins';
}

/* .custom-navbar {
  background: linear-gradient(90deg, rgb(170, 169, 180) 0%, rgb(203, 179, 174) 35%, rgb(174, 184, 212) 100%);
} */

