.container {
	top: 0;
	height: 100vh;
	position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://www.j360.info/static/website/img/sepao_cover.svg);
	background-position: center center;
	background-repeat: no-repeat;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	text-align: center;
}
